h1{ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
    letter-spacing: -2.4px;
    word-spacing: 1.6px;
    color: hwb(0 100% 0%);
    font-weight: 700;
    text-decoration: none;
    font-style:oblique;
    font-variant: normal;
    text-transform: none;
    justify-content: center;
    }

   p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }

    h2{
        font-weight: 400;
    }
    
